@import "tailwindcss";

@theme {
  /* breake points */
  --breakpoint-xs: 20rem;
  /* other properties */
  --font-Knewave: "Knewave", system-ui;
  --font-luckiest: "Luckiest Guy", system-ui;
  --color-primary: #0891b2;
  --color-active: #18b5dc;
  --color-dark: #242424;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px white;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px white;
    color: #18b5dc;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
